.custom-shape-divider-top-1739894898 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1739894898 svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 180px;
}

.custom-shape-divider-top-1739894898 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1739894438 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1739894438 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 177px;
}

.custom-shape-divider-bottom-1739894438 .shape-fill {
  fill: #ffffff;
}
